@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin 'daisyui/theme' {
  name: "zap-shift-light";
  default: true;
  color-scheme: light;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-accent: #606060;
  --color-accent-content: #dadada;
  --color-base-100: #fff;
  --color-base-200: #eaeced;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--color-base-200);
}

nav a.active {
  @apply bg-primary rounded-full;
}

.heading {
  @apply text-3xl font-bold text-secondary;
}

.swiper-pagination-bullet {
  background: #94c6cb !important; /* Inactive color */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-secondary) !important; /* Active color */
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #b0bec5;
  opacity: 1;
  margin: 0 10px;
}
.swiper-pagination-bullet-active {
  background-color: #64b5f6;
  width: 28px;
  border-radius: 10px;
}

.swipper_pagination_arrow {
  @apply z-20 cursor-pointer p-3 rounded-full bg-white shadow-lg hover:shadow-xl transition-all hover:bg-primary active:scale-90 duration-200;
}
